version: '3'

services:
  web:
    build: .
    image: fastapi_celery_example_web
    # '/start' is the shell script used to run the service
    command: uvicorn main:app --host 0.0.0.0 --reload
    volumes:
      - .:/app
    ports:
      - 8010:8000
    env_file:
      - .env
    depends_on:
      - redis


  redis:
    image: redis:7-alpine

  celery_worker:
    build: .
    image: fastapi_celery_example_celery_worker
    command: celery -A main.celery worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - web

  celery_beat:
    build: .
    image: fastapi_celery_example_celery_beat
    command: celery -A main.celery beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
